<th:block th:replace="fragments/header">HEAD</th:block>
<th:block th:replace="fragments/navigation :: nav">NAVIGATION</th:block>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h1>PAGE NOT FOUND</h1>
            <p>Sorry, it seems you were trying to access a page that doesn't exist.</p>
            <p>Please check the spelling of the URL you were trying to access and try again.</p>
        </div>
    </div>
</div>


<th:block th:replace="fragments/footer">FOOTER</th:block>