<th:block th:replace="fragments/header">HEAD</th:block>
<th:block th:replace="fragments/navigation :: nav">NAVIGATION</th:block>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Home</h1>
            <p>TODO: </p>
            <ul>
                <li>Register</li>
                <li>Edit Profile</li>
                <li>Access Denied with same URL</li>
            </ul>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer">FOOTER</th:block>
