<th:block th:replace="fragments/header">HEAD</th:block>
<th:block th:replace="fragments/navigation :: nav">NAVIGATION</th:block>

<div class="container">
    <h1>Users</h1>
    <div>
        <a th:href="@{users/add}" class="btn btn-primary">Add New User</a>
        <br/><br/>
    </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Active</th>
                <th scope="col">Roles</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Projects</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}" />
                <td th:text="${user.userName}" />
                <td th:text="${user.password}" />
                <td th:text="${user.active}" />
                <td th:text="${user.roles}" />
                <td th:text="${user.firstName}" />
                <td th:text="${user.lastName}" />
                <td th:text="${user.email}" />
                <td>0</td>
                <td>
                    <form action="#" th:action="@{/users/delete}" method="post">
                        <input type="hidden" name="uid" th:value="${user.id}"/>
                        <button type="submit" value="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
                    <a th:href="@{/users/view/{id}(id=${user.id})}">View</a>
                </td>
            </tr>
            </tbody>
        </table>
</div>



<th:block th:replace="fragments/footer">FOOTER</th:block>
